.admin-button {
    display: flex;
    flex-direction: column; /* Располагает кнопки вертикально, используйте row для горизонтального расположения */
    align-items: center; /* Центрирует кнопки по горизонтали */
    justify-content: center; /* Центрирует кнопки по вертикали */
    height: 100vh; /* Задает высоту контейнера на всю высоту экрана */
}

.admin-button button {
    margin: 10px; /* Добавляет отступ между кнопками */
    padding: 10px 20px; /* Добавляет внутренние отступы для кнопок */
    font-size: 16px; /* Задает размер шрифта для кнопок */
    cursor: pointer; /* Изменяет указатель мыши на указатель при наведении */
    border: none; /* Убирает рамку кнопки */
    border-radius: 5px; /* Добавляет скругленные углы к кнопкам */
    background-color: #007bff; /* Задает цвет фона кнопок */
    color: white; /* Задает цвет текста кнопок */
    transition: background-color 0.3s; /* Добавляет анимацию для изменения цвета фона */
}

.admin-button button:hover {
    background-color: #0056b3; /* Изменяет цвет фона кнопки при наведении */
}
